{{define "body" }}
    <!doctype html>
    <html lang="en">
    <head>
        <title>Invoice</title>
        <meta name="viewport" content="width:device=width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
    <p>Hello!</p>
    <p>Please, find your invoice attached.</p>

    --<br>
    Widgets.Co

    </body>

    </html>
{{end}}
