{{define "body" }}
    <!doctype html>
    <html lang="en">
    <head>
        <title>Reset Password</title>
        <meta name="viewport" content="width:device=width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
    <p>Hello!</p>
    <p>You recently requested a link to reset your password.</p>
    <p>Click to a link below to get started:</p>
    <p><a href="{{.Link}}">Reset Password</a></p>
    <p>
        --<br>
        Widgets.Co
    </p>
    </body>

    </html>
{{end}}
